* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(1, 1, 10);
    color: rgb(214, 201, 201);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(9, 9, 82);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover {
    color: rgb(133, 133, 193);
    font-size: 1.04rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;

}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 0;

}

.firstsection>div {
    width: 30%;
}

.leftsection {

    font-size: 2.4rem;

}

.rightsection img {

    width: 80%;
    margin: 50px 0;
}

.purple {
    color: rgb(63, 63, 204);
}

.textgray {
    color: gray;
}

#element {
    color: rgb(69, 69, 193);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: whitesmoke;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.image-top1 {
    width: 40px;
    position: relative;
    top: -26px;
    left: -4px;

}

.image-top2 {
    width: 40px;
    position: relative;
    top: -26px;
    left: -4px;

}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

.footer {
    background-color: rgb(43, 2, 43);

}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer>div {
    width: 223px;
}

.footer ul {
    list-style: none;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}
.buttons{
    padding: 2px;    
    color: #9c97f1;
    
}

.btn1{
    text-transform: uppercase;
    text-decoration-style: bold;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 10px;
    transition: 0.5s;
    border-radius: 50px;
}

.btn2{
    text-transform: uppercase;
    text-decoration-style: bold;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 10px;
    transition: 0.5s;
    border-radius: 50px;
    
}

.btn1:hover {
    
    background: var(--clr-neon);
    letter-spacing: 0.15em;
    padding: 5px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: antiquewhite;

}

.btn2:hover {
    background: var(--clr-neon);
    color: var(--clr-neon);
    letter-spacing: 0.15em;
    box-shadow: 0 0 35px var(--clr);
    padding: 5px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: antiquewhite;

}
#scrollToTop{
    cursor: pointer;
}
.footer-fourth a{
    text-decoration: none;
    color: whitesmoke;
}
